- groups = @tracks.map.group_by(&:date_started)
- track = (@countdown.present? ? @countdown : Track.new)

.margin-max-screen.py-8.grid.gap-3.relative
  .flex.p-4.bg-white.border.rounded.shadow.sticky.top-8{class: "pb-3.5"}
    = render TrackTimerFormComponent.new track: track, tags: @user_tags
  .grid.gap-1
    #created-title
    #just-created
  .grid.gap-1
    #updated-title
    #just-updated
  .flex.flex-col.gap-5
    - groups.map do |group|
      .flex.flex-col.divide-y{id: group[0]}
        .px-4.py-2.text-primary.flex.justify-between{class: "bg-primary/10" }
          .font-medium
            - if group[0].to_date.today?
              Today
            - else
              = group[0]
          %div.flex.gap-1.items-center
            %span.text-zinc-500 total:
            %span.text-xl.font-medium.text-secondary 00:00:00
        - group[1].each do |track|
          = render TrackComponent.new track:, tags: @user_tags, from: group[0]
