= form_for Tag.new do |f|
  .flex.gap-4.items-end.bg-white.px-4.py-3.rounded
    .field
      = f.label "Tag"
      = f.text_field :name, required: true
    = f.submit "Add", class: "btn-primary py-2"
